ORS_KEY=...
DIGITRANSIT_KEY=...
OPENAI_API_KEY=...
#for docker run
#MCP_URL=http://tools:9001/sse
#for host run
MCP_URL=http://127.0.0.1:9001/sse
HOCKEY_KEY=...
_ROUTING_SPEC_PATH=geoapify_openapi.json
GEOAPIFY_KEY=...