openapi: 3.0.0
info:
  title: Routing API
  description: The Routing API enables route calculation between two or more waypoints via HTTP GET requests. It supports various transportation modes, including cars, delivery trucks, cargo vans, bicycles, motor scooters, and walking. The API returns detailed route data, including step-by-step directions and turn-by-turn navigation, making it ideal for applications that require real-time route planning for logistics, deliveries, or personal navigation.
  version: 1.0.0
  contact:
    name: Geoapify
    url: https://geoapify.com
    email: info@geoapify.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.geoapify.com/v1
    description: Primary Geoapify API endpoint

tags:
  - name: Routing API
    description: Provides route calculations for various transportation modes, including automobiles, trucks, bicycles, and walking.

paths:
  /routing:
    get:
      tags:
        - Routing API
      summary: Calculate a route between waypoints
      description: Calculates the optimal route between two or more waypoints for various transportation modes, including cars, trucks, bicycles, and walking. The API allows customization through parameters such as road type avoidance (e.g., tolls, highways) and specific route preferences (e.g., shortest or fastest). The response includes detailed directions and turn-by-turn navigation for seamless travel planning.
      operationId: calculateRoute
      parameters:
        - name: apiKey
          in: query
          required: true
          description: Your Geoapify API key to authenticate the request. You can sign up and obtain an API key for free at [https://myprojects.geoapify.com/](https://myprojects.geoapify.com/). The Free plan includes up to 3,000 requests per day.
          schema:
            type: string
            example: "YOUR_API_KEY"
        - name: waypoints
          in: query
          required: true
          description: |
            A list of coordinates representing the waypoints for the route. Each coordinate is specified as a latitude, longitude pair. 
            
            Multiple waypoints should be separated by a vertical bar (`|`). At least two waypoints (a start and an endpoint) are required, but additional waypoints can be added to customize the route. 
            
            Example format: 
            "50.679023,4.569876|50.661705,4.578667"
          schema:
            type: string
            example: "50.679023,4.569876|50.661705,4.578667"
        - name: mode
          in: query
          required: true
          description: |
            Specifies how the route will be optimized based on the selected transportation type.
            
            Available options include:
            - `drive`: Standard car or automobile.
            - `light_truck`: Light-duty truck.
            - `medium_truck`: Medium-duty truck.
            - `truck`: General truck.
            - `heavy_truck`: Heavy-duty truck.
            - `truck_dangerous_goods`: Truck carrying dangerous goods.
            - `long_truck`: Long or articulated truck.
            - `bus`: Public or private bus.
            - `scooter`: Motorized scooter.
            - `motorcycle`: Motorbike.
            - `bicycle`: Standard bicycle.
            - `mountain_bike`: Mountain bike.
            - `road_bike`: Road bicycle.
            - `walk`: Walking on foot.
            - `hike`: Hiking on trails or difficult terrain.
            - `transit`: Public transit routes.
            - `approximated_transit`: Estimated public transit routes (without real-time data).

            Choose the appropriate mode for more accurate route calculations.
          schema:
            type: string
            enum: [ drive, light_truck, medium_truck, truck, heavy_truck, truck_dangerous_goods, long_truck, bus, scooter, motorcycle, bicycle, mountain_bike, road_bike, walk, hike, transit, approximated_transit ]
            example: "drive"
        - name: type
          in: query
          required: false
          description: |
            Specifies the type of route optimization to apply. This parameter determines how the route will be optimized based on user preferences:

            - `balanced`: Provides a balanced route, optimizing for both travel time and distance.
            - `short`: Prioritizes the shortest possible route in terms of distance, potentially ignoring other factors like travel time.
            - `less_maneuvers`: Reduces the number of turns or complex maneuvers, providing a simpler route, which can be useful for larger vehicles or ease of navigation.
          schema:
            type: string
            enum: [ balanced, short, less_maneuvers ]
            example: "short"
        - name: units
          in: query
          required: false
          description: |
            Specifies the units of measurement for distance in the response. Choose between:

            - `metric`: Uses kilometers and meters.
            - `imperial`: Uses miles and feet.

            If not specified, the default is `metric`. Select the appropriate units based on the region or user preferences.
          schema:
            type: string
            enum: [ metric, imperial ]
            example: "imperial"
        - name: lang
          in: query
          required: false
          description: Result language in [ISO 639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) format (e.g., 'en' for English).
          schema:
            type: string
            example: "en"
        - name: avoid
          in: query
          required: false
          description: |
            Specifies the types of roads or locations to avoid during route calculation. You can customize this option by adding one or more types, separated by a vertical bar (`|`), and even assign importance to some avoid types on a scale from 0 to 1.

            Available options include:

            - **tolls**: Avoid roads with tolls. You can specify importance as `tolls:importance`, where `importance` is a value between 0 and 1 (with 1 being the most important). This option works with modes like `drive`, `truck`, `light_truck`, `medium_truck`, `truck_dangerous_goods`, `heavy_truck`, `long_truck`, and `bus`.
              - Example: `avoid=tolls` or `avoid=tolls:0.8`
            
            - **ferries**: Avoid routes that include ferries. You can specify importance as `ferries:importance` (similar to tolls). 
              - Example: `avoid=ferries` or `avoid=ferries:0.9`
            
            - **highways**: Avoid highways. You can also specify importance as `highways:importance`. This option works with driving-related modes.
              - Example: `avoid=highways` or `avoid=highways:0.7`
            
            - **location**: Avoid specific geographic locations. You can provide a latitude and longitude pair in the format `location:lat,lon` or `location_lonlat:lon,lat` to avoid certain areas (e.g., closed roads or barriers).
              - Example: `avoid=location:35.234045,-80.836392` or `avoid=location_lonlat:-80.836392,35.234045`

            Note: The routing algorithm will take your avoids into account but may still include them if there are no alternative routes. Using the `avoid` parameter may increase calculation time and add extra cost to the API call.
          schema:
            type: string
            example: "tolls:1|ferries"
        - name: details
          in: query
          required: false
          description: |
            Specifies additional details to include in the response. You can request multiple types of information, separated by commas. Available options include:

            - `instruction_details`: Provides more granular step-by-step navigation instructions.
            - `route_details`: Includes detailed information about the route, such as distances and durations for each segment.
            - `elevation`: Adds elevation data along the route, showing the changes in altitude.

            You can combine these options as needed to get more comprehensive routing information.
          schema:
            type: string
            example: "instruction_details,route_details"
        - name: traffic
          in: query
          required: false
          description: |
            Specifies the traffic model to use during route calculation. The available options are:

            - `free_flow`: The default option. Calculates the route optimistically, assuming no traffic delays or congestion.
            - `approximated`: Adjusts the route by accounting for potential traffic, decreasing speed on roads that are likely to be congested.

            This parameter is only applicable to motorized vehicle modes, such as `drive`, `truck`, and other similar modes.
          schema:
            type: string
            enum: [ free_flow, approximated ]
            example: "approximated"
        - name: max_speed
          in: query
          required: false
          description: The maximum allowable speed for the route, specified in kilometers per hour (KPH).
          schema:
            type: integer
            example: 80
        - name: format
          in: query
          required: false
          description: The desired output format for the response, options include 'geojson', 'json', or 'xml'.
          schema:
            type: string
            enum: [ geojson, json, xml ]
            example: "json"
      responses:
        '200':
          description: Successful response with routing details.
          content:
            application/json:
              examples:
                format=json:
                  value: |
                    {
                      "results": [
                        {
                          "mode": "drive",
                          "waypoints": [
                            {
                              "location": [
                                4.569876,
                                50.679023
                              ],
                              "original_index": 0
                            },
                            {
                              "location": [
                                4.578667,
                                50.661705
                              ],
                              "original_index": 1
                            }
                          ],
                          "units": "imperial",
                          "avoid": [
                            {
                              "type": "tolls",
                              "importance": 1
                            },
                            {
                              "type": "ferries"
                            }
                          ],
                          "details": [
                            "instruction_details",
                            "route_details"
                          ],
                          "traffic": "approximated",
                          "distance": 1.884,
                          "distance_units": "miles",
                          "time": 390.501,
                          "max_speed": 20,
                          "legs": [
                            {
                              "distance": 1.884,
                              "time": 390.501,
                              "steps": [
                                {
                                  "speed": 35,
                                  "speed_limit": 90,
                                  "truck_limit": 90,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "residential",
                                  "name": "Avenue Jacques Georgin",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": false,
                                  "rightside": true,
                                  "traversability": "both",
                                  "elevation": 62,
                                  "from_index": 0,
                                  "to_index": 1,
                                  "distance": 0.03,
                                  "time": 5.510294117647058,
                                  "instruction": {
                                    "text": "Drive southeast on Avenue Jacques Georgin.",
                                    "type": "StartAtRight",
                                    "transition_instruction": "Drive southeast. Then Turn left onto Fond de Bondry.",
                                    "pre_transition_instruction": "Drive southeast on Avenue Jacques Georgin. Then Turn left onto Fond de Bondry.",
                                    "post_transition_instruction": "Continue for 200 feet.",
                                    "streets": [
                                      "Avenue Jacques Georgin"
                                    ],
                                    "contains_next_instruction": true
                                  }
                                },
                                {
                                  "speed": 35,
                                  "speed_limit": 90,
                                  "truck_limit": 90,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "residential",
                                  "name": "Fond de Bondry",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": false,
                                  "rightside": true,
                                  "traversability": "both",
                                  "elevation": 62,
                                  "from_index": 1,
                                  "to_index": 7,
                                  "distance": 0.11,
                                  "time": 30.60141592920354,
                                  "instruction": {
                                    "text": "Turn left onto Fond de Bondry.",
                                    "type": "Left",
                                    "transition_instruction": "Turn left.",
                                    "pre_transition_instruction": "Turn left onto Fond de Bondry.",
                                    "post_transition_instruction": "Continue for 600 feet.",
                                    "streets": [
                                      "Fond de Bondry"
                                    ]
                                  }
                                },
                                {
                                  "speed": 40,
                                  "speed_limit": 90,
                                  "truck_limit": 90,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "unclassified",
                                  "name": "Fond de Bondry",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": false,
                                  "rightside": true,
                                  "traversability": "forward",
                                  "elevation": 62,
                                  "from_index": 7,
                                  "to_index": 10,
                                  "distance": 0.05,
                                  "time": 12.225925925925928,
                                  "instruction": {
                                    "text": "Turn right to stay on Fond de Bondry.",
                                    "type": "Right",
                                    "transition_instruction": "Turn right. Then Turn right onto Avenue Albert 1er.",
                                    "pre_transition_instruction": "Turn right to stay on Fond de Bondry. Then Turn right onto Avenue Albert 1er.",
                                    "post_transition_instruction": "Continue for 300 feet.",
                                    "streets": [
                                      "Fond de Bondry"
                                    ],
                                    "contains_next_instruction": true
                                  }
                                },
                                {
                                  "speed": 50,
                                  "speed_limit": 50,
                                  "truck_limit": 50,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "secondary",
                                  "name": "Avenue Albert 1er, N239",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": false,
                                  "rightside": true,
                                  "traversability": "both",
                                  "elevation": 61,
                                  "from_index": 10,
                                  "to_index": 21,
                                  "distance": 0.23,
                                  "time": 44.78207062600321,
                                  "instruction": {
                                    "text": "Turn right onto Avenue Albert 1er/N239. Continue on N239.",
                                    "type": "Right",
                                    "transition_instruction": "Turn right.",
                                    "pre_transition_instruction": "Turn right onto Avenue Albert 1er, N239.",
                                    "post_transition_instruction": "Continue on N239 for a half mile.",
                                    "streets": [
                                      "N239",
                                      "Avenue Albert 1er"
                                    ]
                                  }
                                },
                                {
                                  "speed": 50,
                                  "speed_limit": 50,
                                  "truck_limit": 50,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "secondary",
                                  "name": "Avenue Albert 1er, N239",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": false,
                                  "rightside": true,
                                  "traversability": "both",
                                  "elevation": 68,
                                  "from_index": 21,
                                  "to_index": 30,
                                  "distance": 0.26,
                                  "time": 50.623210272873195
                                },
                                {
                                  "speed": 50,
                                  "speed_limit": 50,
                                  "truck_limit": 50,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "secondary",
                                  "name": "Avenue des Combattants, N239",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": false,
                                  "rightside": true,
                                  "traversability": "both",
                                  "elevation": 64,
                                  "from_index": 30,
                                  "to_index": 33,
                                  "distance": 0.03,
                                  "time": 5.841139646869983
                                },
                                {
                                  "speed": 50,
                                  "speed_limit": 50,
                                  "truck_limit": 50,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "secondary",
                                  "name": "Avenue des Combattants, N239",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": false,
                                  "rightside": true,
                                  "traversability": "both",
                                  "elevation": 64,
                                  "from_index": 33,
                                  "to_index": 34,
                                  "distance": 0,
                                  "time": 0
                                },
                                {
                                  "speed": 50,
                                  "speed_limit": 50,
                                  "truck_limit": 50,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "secondary",
                                  "name": "Avenue des Combattants, N239",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": false,
                                  "rightside": true,
                                  "traversability": "both",
                                  "elevation": 64,
                                  "from_index": 34,
                                  "to_index": 39,
                                  "distance": 0.02,
                                  "time": 3.894093097913323
                                },
                                {
                                  "speed": 50,
                                  "speed_limit": 50,
                                  "truck_limit": 50,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "secondary",
                                  "name": "Avenue des Combattants, N239",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": false,
                                  "rightside": true,
                                  "traversability": "both",
                                  "elevation": 64,
                                  "from_index": 39,
                                  "to_index": 40,
                                  "distance": 0.01,
                                  "time": 1.9470465489566615
                                },
                                {
                                  "speed": 50,
                                  "speed_limit": 50,
                                  "truck_limit": 50,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "secondary",
                                  "name": "Avenue des Combattants, N239",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": false,
                                  "rightside": true,
                                  "traversability": "both",
                                  "elevation": 64,
                                  "from_index": 40,
                                  "to_index": 42,
                                  "distance": 0.02,
                                  "time": 3.894093097913323
                                },
                                {
                                  "speed": 50,
                                  "speed_limit": 50,
                                  "truck_limit": 50,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "secondary",
                                  "name": "Avenue des Combattants, N239",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": false,
                                  "rightside": true,
                                  "traversability": "both",
                                  "elevation": 64,
                                  "from_index": 42,
                                  "to_index": 47,
                                  "distance": 0.02,
                                  "time": 3.894093097913323
                                },
                                {
                                  "speed": 50,
                                  "speed_limit": 50,
                                  "truck_limit": 50,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "secondary",
                                  "name": "Avenue des Combattants, N239",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": false,
                                  "rightside": true,
                                  "traversability": "forward",
                                  "elevation": 64,
                                  "from_index": 47,
                                  "to_index": 51,
                                  "distance": 0.03,
                                  "time": 5.841139646869983
                                },
                                {
                                  "speed": 50,
                                  "speed_limit": 50,
                                  "truck_limit": 50,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "secondary",
                                  "name": "Rond-Point de la Libération des Camps",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": true,
                                  "rightside": true,
                                  "traversability": "forward",
                                  "elevation": 64,
                                  "from_index": 51,
                                  "to_index": 55,
                                  "distance": 0.01,
                                  "time": 3.4221428571428576,
                                  "instruction": {
                                    "text": "Enter Rond-Point de la Libération des Camps and take the 1st exit onto Avenue Paul Delvaux.",
                                    "type": "Roundabout",
                                    "transition_instruction": "Enter the roundabout and take the 1st exit.",
                                    "pre_transition_instruction": "Enter Rond-Point de la Libération des Camps and take the 1st exit onto Avenue Paul Delvaux.",
                                    "streets": [
                                      "Rond-Point de la Libération des Camps"
                                    ],
                                    "roundabout_exit": 1
                                  }
                                },
                                {
                                  "speed": 50,
                                  "speed_limit": 50,
                                  "truck_limit": 50,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "secondary",
                                  "name": "Rond-Point de la Libération des Camps",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": true,
                                  "rightside": true,
                                  "traversability": "forward",
                                  "elevation": 62,
                                  "from_index": 55,
                                  "to_index": 57,
                                  "distance": 0,
                                  "time": 0
                                },
                                {
                                  "speed": 50,
                                  "speed_limit": 90,
                                  "truck_limit": 90,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "tertiary",
                                  "name": "Avenue Paul Delvaux",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": false,
                                  "rightside": true,
                                  "traversability": "forward",
                                  "elevation": 60,
                                  "from_index": 57,
                                  "to_index": 60,
                                  "distance": 0.01,
                                  "time": 1.835981735159817,
                                  "instruction": {
                                    "text": "Exit the roundabout onto Avenue Paul Delvaux.",
                                    "type": "Roundabout",
                                    "transition_instruction": "Exit the roundabout.",
                                    "pre_transition_instruction": "Exit the roundabout onto Avenue Paul Delvaux.",
                                    "post_transition_instruction": "Continue for a quarter mile.",
                                    "streets": [
                                      "Avenue Paul Delvaux"
                                    ]
                                  }
                                },
                                {
                                  "speed": 50,
                                  "speed_limit": 50,
                                  "truck_limit": 50,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "tertiary",
                                  "name": "Avenue Paul Delvaux",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": false,
                                  "rightside": true,
                                  "traversability": "both",
                                  "elevation": 58,
                                  "from_index": 60,
                                  "to_index": 67,
                                  "distance": 0.06,
                                  "time": 11.015890410958903
                                },
                                {
                                  "speed": 50,
                                  "speed_limit": 50,
                                  "truck_limit": 50,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "tertiary",
                                  "name": "Avenue Paul Delvaux",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": true,
                                  "roundabout": false,
                                  "rightside": true,
                                  "traversability": "both",
                                  "elevation": 56,
                                  "from_index": 67,
                                  "to_index": 69,
                                  "distance": 0.02,
                                  "time": 3.671963470319634
                                },
                                {
                                  "speed": 50,
                                  "speed_limit": 50,
                                  "truck_limit": 50,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "tertiary",
                                  "name": "Avenue Paul Delvaux",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": false,
                                  "rightside": true,
                                  "traversability": "forward",
                                  "elevation": 55,
                                  "from_index": 69,
                                  "to_index": 80,
                                  "distance": 0.13,
                                  "time": 23.867762557077622
                                },
                                {
                                  "speed": 50,
                                  "speed_limit": 50,
                                  "truck_limit": 50,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "secondary",
                                  "name": "Rue des Deux Ponts",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": true,
                                  "rightside": true,
                                  "traversability": "forward",
                                  "elevation": 56,
                                  "from_index": 80,
                                  "to_index": 83,
                                  "distance": 0.01,
                                  "time": 2.41,
                                  "instruction": {
                                    "text": "Enter the roundabout and take the 2nd exit onto Rue des Deux Ponts.",
                                    "type": "Roundabout",
                                    "transition_instruction": "Enter the roundabout and take the 2nd exit.",
                                    "pre_transition_instruction": "Enter the roundabout and take the 2nd exit onto Rue des Deux Ponts.",
                                    "roundabout_exit": 2
                                  }
                                },
                                {
                                  "speed": 50,
                                  "speed_limit": 50,
                                  "truck_limit": 50,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "secondary",
                                  "name": "Rue des Deux Ponts",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": false,
                                  "rightside": true,
                                  "traversability": "forward",
                                  "elevation": 56,
                                  "from_index": 83,
                                  "to_index": 84,
                                  "distance": 0.01,
                                  "time": 1.8767708333333333,
                                  "instruction": {
                                    "text": "Exit the roundabout onto Rue des Deux Ponts.",
                                    "type": "Roundabout",
                                    "transition_instruction": "Exit the roundabout. Then, in 500 feet, Turn left onto Montagne du Stimont.",
                                    "pre_transition_instruction": "Exit the roundabout onto Rue des Deux Ponts. Then, in 500 feet, Turn left onto Montagne du Stimont.",
                                    "post_transition_instruction": "Continue for 500 feet.",
                                    "streets": [
                                      "Rue des Deux Ponts"
                                    ],
                                    "contains_next_instruction": true
                                  }
                                },
                                {
                                  "speed": 50,
                                  "speed_limit": 50,
                                  "truck_limit": 50,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "secondary",
                                  "name": "Rue des Deux Ponts, N232",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": false,
                                  "rightside": true,
                                  "traversability": "both",
                                  "elevation": 60,
                                  "from_index": 84,
                                  "to_index": 89,
                                  "distance": 0.09,
                                  "time": 16.8909375
                                },
                                {
                                  "speed": 35,
                                  "speed_limit": 90,
                                  "truck_limit": 90,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "residential",
                                  "name": "Montagne du Stimont",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": false,
                                  "rightside": true,
                                  "traversability": "both",
                                  "elevation": 60,
                                  "from_index": 89,
                                  "to_index": 95,
                                  "distance": 0.06,
                                  "time": 13.792125000000002,
                                  "instruction": {
                                    "text": "Turn left onto Montagne du Stimont.",
                                    "type": "Left",
                                    "transition_instruction": "Turn left.",
                                    "pre_transition_instruction": "Turn left onto Montagne du Stimont.",
                                    "post_transition_instruction": "Continue for 900 feet.",
                                    "streets": [
                                      "Montagne du Stimont"
                                    ]
                                  }
                                },
                                {
                                  "speed": 35,
                                  "speed_limit": 90,
                                  "truck_limit": 90,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "residential",
                                  "name": "Montagne du Stimont",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": false,
                                  "rightside": true,
                                  "traversability": "both",
                                  "elevation": 69,
                                  "from_index": 95,
                                  "to_index": 109,
                                  "distance": 0.1,
                                  "time": 22.986875
                                },
                                {
                                  "speed": 35,
                                  "speed_limit": 90,
                                  "truck_limit": 90,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "residential",
                                  "name": "Rue de Renivaux",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": false,
                                  "rightside": true,
                                  "traversability": "both",
                                  "elevation": 71,
                                  "from_index": 109,
                                  "to_index": 126,
                                  "distance": 0.27,
                                  "time": 49.371,
                                  "instruction": {
                                    "text": "Bear right onto Rue de Renivaux.",
                                    "type": "SlightRight",
                                    "transition_instruction": "Bear right.",
                                    "pre_transition_instruction": "Bear right onto Rue de Renivaux.",
                                    "post_transition_instruction": "Continue for a quarter mile.",
                                    "streets": [
                                      "Rue de Renivaux"
                                    ]
                                  }
                                },
                                {
                                  "speed": 35,
                                  "speed_limit": 90,
                                  "truck_limit": 90,
                                  "surface": "paved_smooth",
                                  "lane_count": 1,
                                  "road_class": "residential",
                                  "name": "Avenue des Bouleaux",
                                  "toll": false,
                                  "tunnel": false,
                                  "bridge": false,
                                  "roundabout": false,
                                  "rightside": true,
                                  "traversability": "both",
                                  "elevation": 104,
                                  "from_index": 126,
                                  "to_index": 158,
                                  "distance": 0.29,
                                  "time": 68.16812499999999,
                                  "instruction": {
                                    "text": "Make a sharp left onto Avenue des Bouleaux.",
                                    "type": "SharpLeft",
                                    "transition_instruction": "Make a sharp left.",
                                    "pre_transition_instruction": "Make a sharp left onto Avenue des Bouleaux.",
                                    "post_transition_instruction": "Continue for a quarter mile.",
                                    "streets": [
                                      "Avenue des Bouleaux"
                                    ]
                                  }
                                },
                                {
                                  "from_index": 158,
                                  "to_index": 158,
                                  "distance": 0,
                                  "time": 0,
                                  "instruction": {
                                    "text": "Your destination is on the right.",
                                    "type": "DestinationReachedRight",
                                    "transition_instruction": "Your destination will be on the right.",
                                    "pre_transition_instruction": "Your destination is on the right."
                                  }
                                }
                              ],
                              "country_code": [
                                "be"
                              ]
                            }
                          ],
                          "country_code": [
                            "be"
                          ],
                          "geometry": [
                            [
                              {
                                "lon": 4.570128,
                                "lat": 50.679194
                              },
                              {
                                "lon": 4.570706,
                                "lat": 50.678852
                              },
                              {
                                "lon": 4.571422,
                                "lat": 50.679306
                              },
                              {
                                "lon": 4.571714,
                                "lat": 50.679485
                              },
                              {
                                "lon": 4.571851,
                                "lat": 50.679643
                              },
                              {
                                "lon": 4.571848,
                                "lat": 50.679718
                              },
                              {
                                "lon": 4.571843,
                                "lat": 50.679833
                              },
                              {
                                "lon": 4.571687,
                                "lat": 50.680199
                              },
                              {
                                "lon": 4.571974,
                                "lat": 50.68026
                              },
                              {
                                "lon": 4.572331,
                                "lat": 50.680334
                              },
                              {
                                "lon": 4.572864,
                                "lat": 50.680439
                              },
                              {
                                "lon": 4.572877,
                                "lat": 50.680298
                              },
                              {
                                "lon": 4.572904,
                                "lat": 50.679988
                              },
                              {
                                "lon": 4.572919,
                                "lat": 50.679703
                              },
                              {
                                "lon": 4.572904,
                                "lat": 50.679509
                              },
                              {
                                "lon": 4.572904,
                                "lat": 50.679306
                              },
                              {
                                "lon": 4.572789,
                                "lat": 50.678618
                              },
                              {
                                "lon": 4.572672,
                                "lat": 50.678082
                              },
                              {
                                "lon": 4.572656,
                                "lat": 50.677904
                              },
                              {
                                "lon": 4.572576,
                                "lat": 50.677555
                              },
                              {
                                "lon": 4.572527,
                                "lat": 50.677345
                              },
                              {
                                "lon": 4.572504,
                                "lat": 50.677168
                              },
                              {
                                "lon": 4.572431,
                                "lat": 50.676973
                              },
                              {
                                "lon": 4.572244,
                                "lat": 50.676485
                              },
                              {
                                "lon": 4.571878,
                                "lat": 50.675756
                              },
                              {
                                "lon": 4.571829,
                                "lat": 50.675656
                              },
                              {
                                "lon": 4.571528,
                                "lat": 50.675145
                              },
                              {
                                "lon": 4.571335,
                                "lat": 50.674739
                              },
                              {
                                "lon": 4.571313,
                                "lat": 50.674693
                              },
                              {
                                "lon": 4.570879,
                                "lat": 50.673689
                              },
                              {
                                "lon": 4.570807,
                                "lat": 50.673522
                              },
                              {
                                "lon": 4.570639,
                                "lat": 50.673127
                              },
                              {
                                "lon": 4.570627,
                                "lat": 50.673098
                              },
                              {
                                "lon": 4.570604,
                                "lat": 50.673042
                              },
                              {
                                "lon": 4.570582,
                                "lat": 50.672988
                              },
                              {
                                "lon": 4.570569,
                                "lat": 50.672958
                              },
                              {
                                "lon": 4.570554,
                                "lat": 50.672924
                              },
                              {
                                "lon": 4.57052,
                                "lat": 50.67284
                              },
                              {
                                "lon": 4.570503,
                                "lat": 50.672802
                              },
                              {
                                "lon": 4.570481,
                                "lat": 50.672748
                              },
                              {
                                "lon": 4.57043,
                                "lat": 50.672645
                              },
                              {
                                "lon": 4.570373,
                                "lat": 50.672505
                              },
                              {
                                "lon": 4.570338,
                                "lat": 50.672424
                              },
                              {
                                "lon": 4.570302,
                                "lat": 50.672346
                              },
                              {
                                "lon": 4.570258,
                                "lat": 50.672249
                              },
                              {
                                "lon": 4.570246,
                                "lat": 50.672223
                              },
                              {
                                "lon": 4.570226,
                                "lat": 50.672155
                              },
                              {
                                "lon": 4.570206,
                                "lat": 50.672112
                              },
                              {
                                "lon": 4.570169,
                                "lat": 50.672006
                              },
                              {
                                "lon": 4.570163,
                                "lat": 50.671895
                              },
                              {
                                "lon": 4.570178,
                                "lat": 50.67169
                              },
                              {
                                "lon": 4.570187,
                                "lat": 50.671625
                              },
                              {
                                "lon": 4.570177,
                                "lat": 50.671577
                              },
                              {
                                "lon": 4.570188,
                                "lat": 50.671538
                              },
                              {
                                "lon": 4.570207,
                                "lat": 50.671512
                              },
                              {
                                "lon": 4.570251,
                                "lat": 50.671484
                              },
                              {
                                "lon": 4.570281,
                                "lat": 50.671476
                              },
                              {
                                "lon": 4.570339,
                                "lat": 50.671463
                              },
                              {
                                "lon": 4.570421,
                                "lat": 50.671412
                              },
                              {
                                "lon": 4.570507,
                                "lat": 50.671356
                              },
                              {
                                "lon": 4.570558,
                                "lat": 50.671333
                              },
                              {
                                "lon": 4.570586,
                                "lat": 50.671266
                              },
                              {
                                "lon": 4.570606,
                                "lat": 50.671199
                              },
                              {
                                "lon": 4.570635,
                                "lat": 50.671099
                              },
                              {
                                "lon": 4.570648,
                                "lat": 50.671013
                              },
                              {
                                "lon": 4.570671,
                                "lat": 50.670862
                              },
                              {
                                "lon": 4.570708,
                                "lat": 50.670681
                              },
                              {
                                "lon": 4.570815,
                                "lat": 50.670486
                              },
                              {
                                "lon": 4.570943,
                                "lat": 50.670398
                              },
                              {
                                "lon": 4.571071,
                                "lat": 50.670306
                              },
                              {
                                "lon": 4.571247,
                                "lat": 50.669974
                              },
                              {
                                "lon": 4.571373,
                                "lat": 50.669794
                              },
                              {
                                "lon": 4.571648,
                                "lat": 50.669254
                              },
                              {
                                "lon": 4.57171,
                                "lat": 50.669096
                              },
                              {
                                "lon": 4.571724,
                                "lat": 50.669016
                              },
                              {
                                "lon": 4.571725,
                                "lat": 50.668897
                              },
                              {
                                "lon": 4.571739,
                                "lat": 50.66874
                              },
                              {
                                "lon": 4.571789,
                                "lat": 50.668681
                              },
                              {
                                "lon": 4.57185,
                                "lat": 50.668636
                              },
                              {
                                "lon": 4.57187,
                                "lat": 50.668576
                              },
                              {
                                "lon": 4.571894,
                                "lat": 50.668513
                              },
                              {
                                "lon": 4.571886,
                                "lat": 50.668488
                              },
                              {
                                "lon": 4.571888,
                                "lat": 50.668457
                              },
                              {
                                "lon": 4.571908,
                                "lat": 50.668427
                              },
                              {
                                "lon": 4.572011,
                                "lat": 50.668288
                              },
                              {
                                "lon": 4.571962,
                                "lat": 50.66817
                              },
                              {
                                "lon": 4.571834,
                                "lat": 50.66802
                              },
                              {
                                "lon": 4.571572,
                                "lat": 50.667343
                              },
                              {
                                "lon": 4.571572,
                                "lat": 50.667217
                              },
                              {
                                "lon": 4.571594,
                                "lat": 50.667081
                              },
                              {
                                "lon": 4.571674,
                                "lat": 50.667074
                              },
                              {
                                "lon": 4.571904,
                                "lat": 50.667039
                              },
                              {
                                "lon": 4.572131,
                                "lat": 50.666976
                              },
                              {
                                "lon": 4.572521,
                                "lat": 50.666806
                              },
                              {
                                "lon": 4.572711,
                                "lat": 50.666709
                              },
                              {
                                "lon": 4.572735,
                                "lat": 50.666699
                              },
                              {
                                "lon": 4.572756,
                                "lat": 50.666691
                              },
                              {
                                "lon": 4.57283,
                                "lat": 50.666651
                              },
                              {
                                "lon": 4.57301,
                                "lat": 50.666555
                              },
                              {
                                "lon": 4.57312,
                                "lat": 50.666457
                              },
                              {
                                "lon": 4.573172,
                                "lat": 50.666377
                              },
                              {
                                "lon": 4.573184,
                                "lat": 50.666297
                              },
                              {
                                "lon": 4.573126,
                                "lat": 50.666113
                              },
                              {
                                "lon": 4.573072,
                                "lat": 50.665975
                              },
                              {
                                "lon": 4.573013,
                                "lat": 50.66584
                              },
                              {
                                "lon": 4.573016,
                                "lat": 50.665674
                              },
                              {
                                "lon": 4.57306,
                                "lat": 50.665571
                              },
                              {
                                "lon": 4.573085,
                                "lat": 50.665513
                              },
                              {
                                "lon": 4.573142,
                                "lat": 50.665431
                              },
                              {
                                "lon": 4.573231,
                                "lat": 50.665374
                              },
                              {
                                "lon": 4.573184,
                                "lat": 50.665306
                              },
                              {
                                "lon": 4.57322,
                                "lat": 50.66519
                              },
                              {
                                "lon": 4.573293,
                                "lat": 50.665016
                              },
                              {
                                "lon": 4.573395,
                                "lat": 50.664745
                              },
                              {
                                "lon": 4.57352,
                                "lat": 50.664479
                              },
                              {
                                "lon": 4.573604,
                                "lat": 50.664312
                              },
                              {
                                "lon": 4.573698,
                                "lat": 50.664145
                              },
                              {
                                "lon": 4.573988,
                                "lat": 50.663759
                              },
                              {
                                "lon": 4.574049,
                                "lat": 50.663616
                              },
                              {
                                "lon": 4.574127,
                                "lat": 50.663388
                              },
                              {
                                "lon": 4.57423,
                                "lat": 50.663113
                              },
                              {
                                "lon": 4.574415,
                                "lat": 50.662597
                              },
                              {
                                "lon": 4.574528,
                                "lat": 50.662192
                              },
                              {
                                "lon": 4.574476,
                                "lat": 50.661944
                              },
                              {
                                "lon": 4.574399,
                                "lat": 50.661692
                              },
                              {
                                "lon": 4.574426,
                                "lat": 50.661624
                              },
                              {
                                "lon": 4.574442,
                                "lat": 50.661595
                              },
                              {
                                "lon": 4.574512,
                                "lat": 50.661714
                              },
                              {
                                "lon": 4.574606,
                                "lat": 50.661827
                              },
                              {
                                "lon": 4.574803,
                                "lat": 50.662049
                              },
                              {
                                "lon": 4.575002,
                                "lat": 50.662217
                              },
                              {
                                "lon": 4.575236,
                                "lat": 50.662384
                              },
                              {
                                "lon": 4.575434,
                                "lat": 50.662482
                              },
                              {
                                "lon": 4.575642,
                                "lat": 50.662581
                              },
                              {
                                "lon": 4.575783,
                                "lat": 50.66264
                              },
                              {
                                "lon": 4.575942,
                                "lat": 50.662666
                              },
                              {
                                "lon": 4.576077,
                                "lat": 50.662664
                              },
                              {
                                "lon": 4.576228,
                                "lat": 50.662622
                              },
                              {
                                "lon": 4.576306,
                                "lat": 50.662571
                              },
                              {
                                "lon": 4.576366,
                                "lat": 50.662511
                              },
                              {
                                "lon": 4.576441,
                                "lat": 50.662344
                              },
                              {
                                "lon": 4.576576,
                                "lat": 50.662058
                              },
                              {
                                "lon": 4.576634,
                                "lat": 50.661974
                              },
                              {
                                "lon": 4.576754,
                                "lat": 50.661898
                              },
                              {
                                "lon": 4.576923,
                                "lat": 50.661887
                              },
                              {
                                "lon": 4.577067,
                                "lat": 50.661942
                              },
                              {
                                "lon": 4.577202,
                                "lat": 50.662079
                              },
                              {
                                "lon": 4.577339,
                                "lat": 50.662217
                              },
                              {
                                "lon": 4.577405,
                                "lat": 50.662271
                              },
                              {
                                "lon": 4.577482,
                                "lat": 50.662312
                              },
                              {
                                "lon": 4.577571,
                                "lat": 50.662338
                              },
                              {
                                "lon": 4.577661,
                                "lat": 50.662353
                              },
                              {
                                "lon": 4.577762,
                                "lat": 50.662357
                              },
                              {
                                "lon": 4.577862,
                                "lat": 50.662351
                              },
                              {
                                "lon": 4.578009,
                                "lat": 50.662309
                              },
                              {
                                "lon": 4.578137,
                                "lat": 50.662253
                              },
                              {
                                "lon": 4.578384,
                                "lat": 50.66211
                              },
                              {
                                "lon": 4.578641,
                                "lat": 50.661972
                              },
                              {
                                "lon": 4.578837,
                                "lat": 50.661904
                              }
                            ]
                          ]
                        }
                      ],
                      "properties": {
                        "mode": "drive",
                        "waypoints": [
                          {
                            "lat": 50.67902320667227,
                            "lon": 4.569876996843732
                          },
                          {
                            "lat": 50.66170571489684,
                            "lon": 4.578667041603012
                          }
                        ],
                        "units": "imperial",
                        "avoid": [
                          {
                            "type": "tolls",
                            "importance": 1
                          },
                          {
                            "type": "ferries"
                          }
                        ],
                        "details": [
                          "instruction_details",
                          "route_details"
                        ],
                        "traffic": "approximated"
                      }
                    }
                format=geojson:
                  value: |
                    {
                      "features": [
                        {
                          "type": "Feature",
                          "properties": {
                            "mode": "drive",
                            "waypoints": [
                              {
                                "location": [
                                  4.569876,
                                  50.679023
                                ],
                                "original_index": 0
                              },
                              {
                                "location": [
                                  4.578667,
                                  50.661705
                                ],
                                "original_index": 1
                              }
                            ],
                            "units": "imperial",
                            "avoid": [
                              {
                                "type": "tolls",
                                "importance": 1
                              },
                              {
                                "type": "ferries"
                              }
                            ],
                            "details": [
                              "instruction_details",
                              "route_details"
                            ],
                            "traffic": "approximated",
                            "distance": 1.884,
                            "distance_units": "miles",
                            "time": 390.501,
                            "max_speed": 20,
                            "legs": [
                              {
                                "distance": 1.884,
                                "time": 390.501,
                                "steps": [
                                  {
                                    "speed": 35,
                                    "speed_limit": 90,
                                    "truck_limit": 90,
                                    "surface": "paved_smooth",
                                    "lane_count": 1,
                                    "road_class": "residential",
                                    "name": "Avenue Jacques Georgin",
                                    "toll": false,
                                    "tunnel": false,
                                    "bridge": false,
                                    "roundabout": false,
                                    "rightside": true,
                                    "traversability": "both",
                                    "elevation": 62,
                                    "from_index": 0,
                                    "to_index": 1,
                                    "distance": 0.03,
                                    "time": 5.510294117647058,
                                    "instruction": {
                                      "text": "Drive southeast on Avenue Jacques Georgin.",
                                      "type": "StartAtRight",
                                      "transition_instruction": "Drive southeast. Then Turn left onto Fond de Bondry.",
                                      "pre_transition_instruction": "Drive southeast on Avenue Jacques Georgin. Then Turn left onto Fond de Bondry.",
                                      "post_transition_instruction": "Continue for 200 feet.",
                                      "streets": [
                                        "Avenue Jacques Georgin"
                                      ],
                                      "contains_next_instruction": true
                                    }
                                  },
                                  {
                                    "speed": 35,
                                    "speed_limit": 90,
                                    "truck_limit": 90,
                                    "surface": "paved_smooth",
                                    "lane_count": 1,
                                    "road_class": "residential",
                                    "name": "Fond de Bondry",
                                    "toll": false,
                                    "tunnel": false,
                                    "bridge": false,
                                    "roundabout": false,
                                    "rightside": true,
                                    "traversability": "both",
                                    "elevation": 62,
                                    "from_index": 1,
                                    "to_index": 7,
                                    "distance": 0.11,
                                    "time": 30.60141592920354,
                                    "instruction": {
                                      "text": "Turn left onto Fond de Bondry.",
                                      "type": "Left",
                                      "transition_instruction": "Turn left.",
                                      "pre_transition_instruction": "Turn left onto Fond de Bondry.",
                                      "post_transition_instruction": "Continue for 600 feet.",
                                      "streets": [
                                        "Fond de Bondry"
                                      ]
                                    }
                                  },
                                  {
                                    "speed": 40,
                                    "speed_limit": 90,
                                    "truck_limit": 90,
                                    "surface": "paved_smooth",
                                    "lane_count": 1,
                                    "road_class": "unclassified",
                                    "name": "Fond de Bondry",
                                    "toll": false,
                                    "tunnel": false,
                                    "bridge": false,
                                    "roundabout": false,
                                    "rightside": true,
                                    "traversability": "forward",
                                    "elevation": 62,
                                    "from_index": 7,
                                    "to_index": 10,
                                    "distance": 0.05,
                                    "time": 12.225925925925928,
                                    "instruction": {
                                      "text": "Turn right to stay on Fond de Bondry.",
                                      "type": "Right",
                                      "transition_instruction": "Turn right. Then Turn right onto Avenue Albert 1er.",
                                      "pre_transition_instruction": "Turn right to stay on Fond de Bondry. Then Turn right onto Avenue Albert 1er.",
                                      "post_transition_instruction": "Continue for 300 feet.",
                                      "streets": [
                                        "Fond de Bondry"
                                      ],
                                      "contains_next_instruction": true
                                    }
                                  },
                                  {
                                    "speed": 50,
                                    "speed_limit": 50,
                                    "truck_limit": 50,
                                    "surface": "paved_smooth",
                                    "lane_count": 1,
                                    "road_class": "secondary",
                                    "name": "Avenue Albert 1er, N239",
                                    "toll": false,
                                    "tunnel": false,
                                    "bridge": false,
                                    "roundabout": false,
                                    "rightside": true,
                                    "traversability": "both",
                                    "elevation": 61,
                                    "from_index": 10,
                                    "to_index": 21,
                                    "distance": 0.23,
                                    "time": 44.78207062600321,
                                    "instruction": {
                                      "text": "Turn right onto Avenue Albert 1er/N239. Continue on N239.",
                                      "type": "Right",
                                      "transition_instruction": "Turn right.",
                                      "pre_transition_instruction": "Turn right onto Avenue Albert 1er, N239.",
                                      "post_transition_instruction": "Continue on N239 for a half mile.",
                                      "streets": [
                                        "N239",
                                        "Avenue Albert 1er"
                                      ]
                                    }
                                  },
                                  {
                                    "speed": 50,
                                    "speed_limit": 50,
                                    "truck_limit": 50,
                                    "surface": "paved_smooth",
                                    "lane_count": 1,
                                    "road_class": "secondary",
                                    "name": "Avenue Albert 1er, N239",
                                    "toll": false,
                                    "tunnel": false,
                                    "bridge": false,
                                    "roundabout": false,
                                    "rightside": true,
                                    "traversability": "both",
                                    "elevation": 68,
                                    "from_index": 21,
                                    "to_index": 30,
                                    "distance": 0.26,
                                    "time": 50.623210272873195
                                  },
                                  {
                                    "speed": 50,
                                    "speed_limit": 50,
                                    "truck_limit": 50,
                                    "surface": "paved_smooth",
                                    "lane_count": 1,
                                    "road_class": "secondary",
                                    "name": "Avenue des Combattants, N239",
                                    "toll": false,
                                    "tunnel": false,
                                    "bridge": false,
                                    "roundabout": false,
                                    "rightside": true,
                                    "traversability": "both",
                                    "elevation": 64,
                                    "from_index": 30,
                                    "to_index": 33,
                                    "distance": 0.03,
                                    "time": 5.841139646869983
                                  },
                                  {
                                    "speed": 50,
                                    "speed_limit": 50,
                                    "truck_limit": 50,
                                    "surface": "paved_smooth",
                                    "lane_count": 1,
                                    "road_class": "secondary",
                                    "name": "Avenue des Combattants, N239",
                                    "toll": false,
                                    "tunnel": false,
                                    "bridge": false,
                                    "roundabout": false,
                                    "rightside": true,
                                    "traversability": "both",
                                    "elevation": 64,
                                    "from_index": 33,
                                    "to_index": 34,
                                    "distance": 0,
                                    "time": 0
                                  },
                                  {
                                    "speed": 50,
                                    "speed_limit": 50,
                                    "truck_limit": 50,
                                    "surface": "paved_smooth",
                                    "lane_count": 1,
                                    "road_class": "secondary",
                                    "name": "Avenue des Combattants, N239",
                                    "toll": false,
                                    "tunnel": false,
                                    "bridge": false,
                                    "roundabout": false,
                                    "rightside": true,
                                    "traversability": "both",
                                    "elevation": 64,
                                    "from_index": 34,
                                    "to_index": 39,
                                    "distance": 0.02,
                                    "time": 3.894093097913323
                                  },
                                  {
                                    "speed": 50,
                                    "speed_limit": 50,
                                    "truck_limit": 50,
                                    "surface": "paved_smooth",
                                    "lane_count": 1,
                                    "road_class": "secondary",
                                    "name": "Avenue des Combattants, N239",
                                    "toll": false,
                                    "tunnel": false,
                                    "bridge": false,
                                    "roundabout": false,
                                    "rightside": true,
                                    "traversability": "both",
                                    "elevation": 64,
                                    "from_index": 39,
                                    "to_index": 40,
                                    "distance": 0.01,
                                    "time": 1.9470465489566615
                                  },
                                  {
                                    "speed": 50,
                                    "speed_limit": 50,
                                    "truck_limit": 50,
                                    "surface": "paved_smooth",
                                    "lane_count": 1,
                                    "road_class": "secondary",
                                    "name": "Avenue des Combattants, N239",
                                    "toll": false,
                                    "tunnel": false,
                                    "bridge": false,
                                    "roundabout": false,
                                    "rightside": true,
                                    "traversability": "both",
                                    "elevation": 64,
                                    "from_index": 40,
                                    "to_index": 42,
                                    "distance": 0.02,
                                    "time": 3.894093097913323
                                  },
                                  {
                                    "speed": 50,
                                    "speed_limit": 50,
                                    "truck_limit": 50,
                                    "surface": "paved_smooth",
                                    "lane_count": 1,
                                    "road_class": "secondary",
                                    "name": "Avenue des Combattants, N239",
                                    "toll": false,
                                    "tunnel": false,
                                    "bridge": false,
                                    "roundabout": false,
                                    "rightside": true,
                                    "traversability": "both",
                                    "elevation": 64,
                                    "from_index": 42,
                                    "to_index": 47,
                                    "distance": 0.02,
                                    "time": 3.894093097913323
                                  },
                                  {
                                    "speed": 50,
                                    "speed_limit": 50,
                                    "truck_limit": 50,
                                    "surface": "paved_smooth",
                                    "lane_count": 1,
                                    "road_class": "secondary",
                                    "name": "Avenue des Combattants, N239",
                                    "toll": false,
                                    "tunnel": false,
                                    "bridge": false,
                                    "roundabout": false,
                                    "rightside": true,
                                    "traversability": "forward",
                                    "elevation": 64,
                                    "from_index": 47,
                                    "to_index": 51,
                                    "distance": 0.03,
                                    "time": 5.841139646869983
                                  },
                                  {
                                    "speed": 50,
                                    "speed_limit": 50,
                                    "truck_limit": 50,
                                    "surface": "paved_smooth",
                                    "lane_count": 1,
                                    "road_class": "secondary",
                                    "name": "Rond-Point de la Libération des Camps",
                                    "toll": false,
                                    "tunnel": false,
                                    "bridge": false,
                                    "roundabout": true,
                                    "rightside": true,
                                    "traversability": "forward",
                                    "elevation": 64,
                                    "from_index": 51,
                                    "to_index": 55,
                                    "distance": 0.01,
                                    "time": 3.4221428571428576,
                                    "instruction": {
                                      "text": "Enter Rond-Point de la Libération des Camps and take the 1st exit onto Avenue Paul Delvaux.",
                                      "type": "Roundabout",
                                      "transition_instruction": "Enter the roundabout and take the 1st exit.",
                                      "pre_transition_instruction": "Enter Rond-Point de la Libération des Camps and take the 1st exit onto Avenue Paul Delvaux.",
                                      "streets": [
                                        "Rond-Point de la Libération des Camps"
                                      ],
                                      "roundabout_exit": 1
                                    }
                                  },
                                  {
                                    "speed": 50,
                                    "speed_limit": 50,
                                    "truck_limit": 50,
                                    "surface": "paved_smooth",
                                    "lane_count": 1,
                                    "road_class": "secondary",
                                    "name": "Rond-Point de la Libération des Camps",
                                    "toll": false,
                                    "tunnel": false,
                                    "bridge": false,
                                    "roundabout": true,
                                    "rightside": true,
                                    "traversability": "forward",
                                    "elevation": 62,
                                    "from_index": 55,
                                    "to_index": 57,
                                    "distance": 0,
                                    "time": 0
                                  },
                                  {
                                    "speed": 50,
                                    "speed_limit": 90,
                                    "truck_limit": 90,
                                    "surface": "paved_smooth",
                                    "lane_count": 1,
                                    "road_class": "tertiary",
                                    "name": "Avenue Paul Delvaux",
                                    "toll": false,
                                    "tunnel": false,
                                    "bridge": false,
                                    "roundabout": false,
                                    "rightside": true,
                                    "traversability": "forward",
                                    "elevation": 60,
                                    "from_index": 57,
                                    "to_index": 60,
                                    "distance": 0.01,
                                    "time": 1.835981735159817,
                                    "instruction": {
                                      "text": "Exit the roundabout onto Avenue Paul Delvaux.",
                                      "type": "Roundabout",
                                      "transition_instruction": "Exit the roundabout.",
                                      "pre_transition_instruction": "Exit the roundabout onto Avenue Paul Delvaux.",
                                      "post_transition_instruction": "Continue for a quarter mile.",
                                      "streets": [
                                        "Avenue Paul Delvaux"
                                      ]
                                    }
                                  },
                                  {
                                    "speed": 50,
                                    "speed_limit": 50,
                                    "truck_limit": 50,
                                    "surface": "paved_smooth",
                                    "lane_count": 1,
                                    "road_class": "tertiary",
                                    "name": "Avenue Paul Delvaux",
                                    "toll": false,
                                    "tunnel": false,
                                    "bridge": false,
                                    "roundabout": false,
                                    "rightside": true,
                                    "traversability": "both",
                                    "elevation": 58,
                                    "from_index": 60,
                                    "to_index": 67,
                                    "distance": 0.06,
                                    "time": 11.015890410958903
                                  },
                                  {
                                    "speed": 50,
                                    "speed_limit": 50,
                                    "truck_limit": 50,
                                    "surface": "paved_smooth",
                                    "lane_count": 1,
                                    "road_class": "tertiary",
                                    "name": "Avenue Paul Delvaux",
[...]
