{
  "openapi": "3.0.0",
  "paths": {
    "/highlights/{id}": {
      "get": {
        "description": "\nRetrieve highlight information by specifying the highlight id path parameter.\n\n> Note: Used to check whether a highlight still exists or had its information updated.\n",
        "operationId": "HighlightsController_getHighlightById",
        "parameters": [
          {
            "name": "x-rapidapi-host",
            "in": "header",
            "description": "hockey-highlights-api.p.rapidapi.com",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-rapidapi-key",
            "in": "header",
            "description": "Rapid API Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Requested higlight id.",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HockeyHighlightResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request descriptive error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorDto"
                }
              }
            }
          }
        },
        "summary": "Get highlight by id",
        "tags": [
          "Hockey.Highlights"
        ]
      }
    }
  },
  "info": {
    "title": "Highlightly Hockey API",
    "description": "Welcome to the biggest Hockey Highlights API, covering data from over 170 hockey leagues globally. Get access to a centralized hub for diverse and engaging sport highlights to ensure that your sport application remains dynamic, distinctive, and rich in content.\n\n## Contact\n\nFor feature requests, questions, private plans or business inquiries you can contact us at [support@highlightly.net](mailto:support@highlightly.net).\n\nYou can also contact us via [RapidAPI](https://rapidapi.com/highlightly-api-highlightly-api-default/api/hockey-highlights-api) by starting a discussion or by sending us a private message.\n\n# Integration\n\nTo start using our API services you will first need to create an accout via [Highlightly](https://highlightly.net/login) or [RapidAPI](https://rapidapi.com/auth/sign-up?referral=/highlightly-api-highlightly-api-default/api/hockey-highlights-api/pricing). \nBoth platforms offer you the ability to view the API analytics, manage billing settings, control API keys and much more. However, there are a few differences. RapidAPI does not include custom plans nor does it provide long term plan discounts. \n\n> Accounts are **not** synced across platforms.\n\n> Please ensure that your API key is **not** made public to prevent potential abuse. Your API key can be managed either through Highlightly or RapidAPI.\n\n## API usage\n\n> Highlightly API base url: `https://hockey.highlightly.net`\n\n> RapidAPI API base url: `https://hockey-highlights-api.p.rapidapi.com`\n\nEach API request will be considered valid only if the following headers are present:\n\n| Request Header | Value |\n| ----------- | ----------- |\n| `x-rapidapi-key` | *Your Highlightly or RapidAPI API Key*       |\n| `x-rapidapi-host` | `hockey-highlights-api.p.rapidapi.com` - only needed for usage through RapidAPI |\n\nThese headers are mandatory when requesting API data. They are not needed when requesting other resources such as logos or images.\n\nEach API response will contain additional headers. The following three are considered the most important for developers:\n\n| Response Header   | Value |\n| ----------------  | ----------- |\n| `x-ratelimit-requests-limit`  | This is a static value indicating the number of requests **the plan** you are currently subscribed to allows you to make.       |\n| `x-ratelimit-requests-remaining` | The number of requests remaining (from your plan) before you reach the limit of requests your application is allowed to make. When this reaches zero, you will not be able to make any requests until your daily quota is reset. You can view these limits and quotas on the pricing page of the API in the API Hub. |\n| `content-type` | Value will always be `application/json`. XML format is not supported. |\n\nIn the following sections we will guide you through all endpoints and functionalities the API has to offer.",
    "version": "6.1.1",
    "contact": {}
  },
  "tags": [
    {
      "name": "Hockey API",
      "description": ""
    }
  ],
  "servers": [
    {
      "url": "https://hockey.highlightly.net"
    },
    {
      "url": "https://hockey-highlights-api.p.rapidapi.com"
    }
  ],
  "components": {
    "schemas": {
      "HockeyCountryResponseDto": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Country code specified by the ISO 3166 standard.",
            "example": "DE"
          },
          "name": {
            "type": "string",
            "example": "Germany"
          },
          "logo": {
            "type": "string",
            "example": "https://example.com/logos/country/DE.png"
          }
        },
        "required": [
          "code",
          "name",
          "logo"
        ]
      },
      "BadRequestDto": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Descriptive bad request error message."
          },
          "statusCode": {
            "type": "number",
            "example": 400
          }
        },
        "required": [
          "message",
          "statusCode"
        ]
      },
      "InternalServerErrorDto": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Internal server error."
          },
          "statusCode": {
            "type": "number",
            "example": 500
          }
        },
        "required": [
          "message",
          "statusCode"
        ]
      },
      "HockeyTeamResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "example": 223746
          },
          "logo": {
            "type": "string",
            "example": "https://example.com/logos/team/223746.png"
          },
          "name": {
            "type": "string",
            "example": "Frankfurt Lowen"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "HockeyMatchLeagueResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "example": 16953
          },
          "season": {
            "type": "number",
            "example": 2023
          },
          "name": {
            "type": "string",
            "example": "DEL"
          },
          "logo": {
            "type": "string",
            "example": "https://example.com/logos/league/16953.png"
          }
        },
        "required": [
          "id",
          "season",
          "name"
        ]
      },
      "HockeyMatchScoreResponseDto": {
        "type": "object",
        "properties": {
          "current": {
            "type": "string",
            "example": "4 - 4",
            "description": "Home - Away score for the match."
          },
          "overTime": {
            "type": "string",
            "example": "6 - 4",
            "description": "Home - Away score in overtime."
          },
          "penalties": {
            "type": "string",
            "example": "17 - 33",
            "description": "Home - Away score in penalties."
          },
          "firstPeriod": {
            "type": "string",
            "example": "2 - 0",
            "description": "Home - Away score in 1st period."
          },
          "secondPeriod": {
            "type": "string",
            "example": "2 - 1",
            "description": "Home - Away score in 2nd period."
          },
          "thirdPeriod": {
            "type": "string",
            "example": "5 - 2",
            "description": "Home - Away score in 3rd period."
          }
        }
      },
      "HockeyMatchStateResponseDto": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "enum": [
              "Not started",
              "1st period",
              "2nd period",
              "3rd period",
              "Over time",
              "Penalties",
              "Break time",
              "Awarded",
              "Postponed",
              "Cancelled",
              "Interrupted",
              "Abandoned",
              "Finished",
              "To be announced",
              "Finished after penalties",
              "Finished after over time",
              "Unknown"
            ],
            "example": "1st period",
            "description": "Current state of the game."
          },
          "score": {
            "$ref": "#/components/schemas/HockeyMatchScoreResponseDto"
          }
        },
        "required": [
          "description",
          "score"
        ]
      },
      "HockeyMatchResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "example": 291869956
          },
          "week": {
            "type": "string",
            "example": "1"
          },
          "date": {
            "type": "string",
            "example": "2023-10-13T17:30:00.000Z"
          },
          "country": {
            "$ref": "#/components/schemas/HockeyCountryResponseDto"
          },
          "awayTeam": {
            "$ref": "#/components/schemas/HockeyTeamResponseDto"
          },
          "homeTeam": {
            "$ref": "#/components/schemas/HockeyTeamResponseDto"
          },
          "league": {
            "$ref": "#/components/schemas/HockeyMatchLeagueResponseDto"
          },
          "state": {
            "$ref": "#/components/schemas/HockeyMatchStateResponseDto"
          }
        },
        "required": [
          "id",
          "date",
          "country",
          "awayTeam",
          "homeTeam",
          "league",
          "state"
        ]
      },
      "HockeyHighlightResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "example": 16
          },
          "type": {
            "type": "string",
            "example": "VERIFIED"
          },
          "imgUrl": {
            "type": "string",
            "description": "Preview picture of the highlight.",
            "example": "https://example.com/images/preview/16.png"
          },
          "title": {
            "type": "string",
            "example": "DEL: Frankfurt Lowen vs Kolner"
          },
          "description": {
            "type": "string",
            "example": "Game recap of the match."
          },
          "url": {
            "type": "string",
            "description": "Url location of the video highlight.",
            "example": "https://example.com/highlight/13efe2g4t542"
          },
          "embedUrl": {
            "type": "string",
            "description": "Url of embeddable video highlight.",
            "example": "https://example.com/embed/13efe2g4t542"
          },
          "match": {
            "$ref": "#/components/schemas/HockeyMatchResponseDto"
          },
          "channel": {
            "type": "string",
            "example": "Ligue 1 Uber Eats",
            "description": "Channel title of a given highlight."
          },
          "source": {
            "type": "string",
            "example": "youtube",
            "description": "Aggregation source from social media and other equivalent platforms."
          }
        },
        "required": [
          "id",
          "type",
          "title",
          "url",
          "match"
        ]
      },
      "PaginationResponseDto": {
        "type": "object",
        "properties": {
          "totalCount": {
            "type": "number",
            "description": "Available number of items, relevant to the provided query.",
            "example": 490
          },
          "offset": {
            "type": "number",
            "example": 20
          },
          "limit": {
            "type": "number",
            "example": 100
          }
        },
        "required": [
          "totalCount",
          "offset",
          "limit"
        ]
      },
      "PlanResponseDto": {
        "type": "object",
        "properties": {
          "tier": {
            "type": "string",
            "description": "Your current API subscription tier.",
            "example": "BASIC"
          },
          "message": {
            "type": "string",
            "description": "Explanation message regarding your current tier.",
            "example": "Some results might be hidden with FREE tier. Check your API coverage for more information: https://rapidapi.com/highlightly-api-highlightly-api-default/api/sport-highlights-api/details"
          }
        },
        "required": [
          "tier",
          "message"
        ]
      },
      "HockeyHighlightPaginatedResponseDto": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HockeyHighlightResponseDto"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationResponseDto"
          },
          "plan": {
            "$ref": "#/components/schemas/PlanResponseDto"
          }
        },
        "required": [
          "data",
          "pagination",
          "plan"
        ]
      },
      "RestrictionResponseDto": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "No restricitons applied",
              "Allowed countries restriction",
              "Blocked countries restriction",
              "Unknown restrictions"
            ],
            "example": "Allowed countries restriction",
            "description": "Specifies which restriction rule is applied to the requested highlight. If allowed restriction is applied, read from allowedCountries field. When blocked restriction is applied, countries from blockedCountries field are applied."
          },
          "allowedCountries": {
            "example": [
              "IT"
            ],
            "description": "ISO 3166 two letter country list of allowed countries when restriction rules is in allowed state.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "blockedCountries": {
            "example": [],
            "description": "ISO 3166 two letter country list of blocked countries. Rule list is valid when restriction rules is in blocked state.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "embeddable": {
            "type": "boolean",
            "example": true,
            "description": "Boolean flag which indicates whether highlight provider allows embedding inside web applications."
          }
        },
        "required": [
          "state",
          "allowedCountries",
          "blockedCountries",
          "embeddable"
        ]
      },
      "HockeySeasonResponseDto": {
        "type": "object",
        "properties": {
          "season": {
            "type": "number",
            "example": 2023
          }
        },
        "required": [
          "season"
        ]
      },
      "HockeyLeagueResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "example": 16953
          },
          "logo": {
            "type": "string",
            "example": "https://example.com/logos/league/16953.png"
          },
          "name": {
            "type": "string",
            "example": "DEL"
          },
          "country": {
            "$ref": "#/components/schemas/HockeyCountryResponseDto"
          },
          "seasons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HockeySeasonResponseDto"
            }
          }
        },
        "required": [
          "id",
          "name",
          "country",
          "seasons"
        ]
      },
      "HockeyLeaguePaginatedResponseDto": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HockeyLeagueResponseDto"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationResponseDto"
          },
          "plan": {
            "$ref": "#/components/schemas/PlanResponseDto"
          }
        },
        "required": [
          "data",
          "pagination",
          "plan"
        ]
      },
      "HockeyMatchPaginatedResponseDto": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HockeyMatchResponseDto"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationResponseDto"
          },
          "plan": {
            "$ref": "#/components/schemas/PlanResponseDto"
          }
        },
        "required": [
          "data",
          "pagination",
          "plan"
        ]
      },
      "DetailedMatchVenueResponseDto": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string",
            "example": "Swansea"
          },
          "name": {
            "type": "string",
            "example": "Liberty Stadium"
          },
          "country": {
            "type": "string",
            "example": "Wales"
          },
          "capacity": {
            "type": "string",
            "example": "20827"
          }
        }
      },
      "DetailedMatchRefereeResponseDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Brace, Andrew"
          },
          "nationality": {
            "type": "string",
            "example": "Ireland"
          }
        }
      },
      "DetailedMatchForecastResponseDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "cloudy"
          },
          "temperature": {
            "type": "string",
            "example": "11.97°C"
          }
        }
      },
      "PredictionDto": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "prematch"
          },
          "modelType": {
            "type": "string",
            "example": "three-way"
          },
          "generatedAt": {
            "type": "string",
            "example": "2025-03-12T19:00:20.000Z"
          },
          "description": {
            "type": "string",
            "example": "Team A is most likely to win the game against Team B.`"
          }
        },
        "required": [
          "type",
          "modelType",
          "generatedAt",
          "description"
        ]
      },
      "PredictionResponseDto": {
        "type": "object",
        "properties": {
          "home": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PredictionDto"
            }
          },
          "away": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PredictionDto"
            }
          }
        },
        "required": [
          "home",
          "away"
        ]
      },
      "HockeyDetailedMatchResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "example": 308606573
          },
          "week": {
            "type": "string",
            "example": "Quarter-finals"
          },
          "date": {
            "type": "string",
            "example": "2024-03-30T15:00:00.000Z"
          },
          "country": {
            "$ref": "#/components/schemas/HockeyCountryResponseDto"
          },
          "awayTeam": {
            "$ref": "#/components/schemas/HockeyTeamResponseDto"
          },
          "homeTeam": {
            "$ref": "#/components/schemas/HockeyTeamResponseDto"
          },
          "league": {
            "$ref": "#/components/schemas/HockeyMatchLeagueResponseDto"
          },
          "state": {
            "$ref": "#/components/schemas/HockeyMatchStateResponseDto"
          },
          "venue": {
            "$ref": "#/components/schemas/DetailedMatchVenueResponseDto"
          },
          "referee": {
            "$ref": "#/components/schemas/DetailedMatchRefereeResponseDto"
          },
          "forecast": {
            "$ref": "#/components/schemas/DetailedMatchForecastResponseDto"
          },
          "predictions": {
            "$ref": "#/components/schemas/PredictionResponseDto"
          }
        },
        "required": [
          "id",
          "date",
          "country",
          "awayTeam",
          "homeTeam",
          "league",
          "state"
        ]
      },
      "HockeyTeamPaginatedResponseDto": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HockeyTeamResponseDto"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationResponseDto"
          },
          "plan": {
            "$ref": "#/components/schemas/PlanResponseDto"
          }
        },
        "required": [
          "data",
          "pagination",
          "plan"
        ]
      },
      "HockeyTeamTotalGameStatsResponseDto": {
        "type": "object",
        "properties": {
          "played": {
            "type": "number",
            "description": "Number of games team has played during a specific league-season.",
            "example": 114
          },
          "wins": {
            "type": "number",
            "description": "Number of games team has won during a specific league-season.",
            "example": 72
          },
          "loses": {
            "type": "number",
            "description": "Number of games team has lost during a specific league-season.",
            "example": 42
          }
        },
        "required": [
          "played",
          "wins",
          "loses"
        ]
      },
      "HockeyTeamTotalGoalsStatsResponseDto": {
        "type": "object",
        "properties": {
          "scored": {
            "type": "number",
            "example": 366,
            "description": "Number of goals team has scored during a specific league-season."
          },
          "received": {
            "type": "number",
            "example": 283,
            "description": "Number of goals team has received during a specific league-season."
          }
        },
        "required": [
          "scored",
          "received"
        ]
      },
      "HockeyTeamTotalStatsResponseDto": {
        "type": "object",
        "properties": {
          "games": {
            "description": "Number of games team has played, won, and lost during a specific league-season.",
            "allOf": [
              {
                "$ref": "#/components/schemas/HockeyTeamTotalGameStatsResponseDto"
              }
            ]
          },
          "goals": {
            "description": "Number of goals team has scored, and received during a specific league-season.",
            "allOf": [
              {
                "$ref": "#/components/schemas/HockeyTeamTotalGoalsStatsResponseDto"
              }
            ]
          }
        },
        "required": [
          "games",
          "goals"
        ]
      },
      "HockeyTeamHomeGameStatsResponseDto": {
        "type": "object",
        "properties": {
          "played": {
            "type": "number",
            "description": "Number of games team has played as home team during a specific league-season.",
            "example": 58
          },
          "wins": {
            "type": "number",
            "description": "Number of games team has won as home team during a specific league-season.",
            "example": 38
          },
          "loses": {
            "type": "number",
            "description": "Number of games team has lost as home team during a specific league-season.",
            "example": 20
          }
        },
        "required": [
          "played",
          "wins",
          "loses"
        ]
      },
      "HockeyTeamHomeGoalsStatsResponseDto": {
        "type": "object",
        "properties": {
          "scored": {
            "type": "number",
            "description": "Number of goals team has scored whilst playing as home team during a specific league-season.",
            "example": 186
          },
          "received": {
            "type": "number",
            "description": "Number of goals team has received whilst playing as home team during a specific league-season.",
            "example": 141
          }
        },
        "required": [
          "scored",
          "received"
        ]
      },
      "HockeyTeamHomeStatsResponseDto": {
        "type": "object",
        "properties": {
          "games": {
            "description": "Number of games team has played, won, and lost during a specific league-season, whilst playing as home team.",
            "allOf": [
              {
                "$ref": "#/components/schemas/HockeyTeamHomeGameStatsResponseDto"
              }
            ]
          },
          "goals": {
            "description": "Number of goals team has scored and received, during a specific league-season, whilst playing as away team.",
            "allOf": [
              {
                "$ref": "#/components/schemas/HockeyTeamHomeGoalsStatsResponseDto"
              }
            ]
          }
        },
        "required": [
          "games",
          "goals"
        ]
      },
      "HockeyTeamAwayGameStatsResponseDto": {
        "type": "object",
        "properties": {
          "played": {
            "type": "number",
            "description": "Number of games team has played as away team during a specific league-season.",
            "example": 56
          },
          "wins": {
            "type": "number",
            "description": "Number of games team has won as away team during a specific league-season.",
            "example": 34
          },
          "loses": {
            "type": "number",
            "description": "Number of games team has lost as away team during a specific league-season.",
            "example": 22
          }
        },
        "required": [
          "played",
          "wins",
          "loses"
        ]
      },
      "HockeyTeamAwayGoalsStatsResponseDto": {
        "type": "object",
        "properties": {
          "scored": {
            "type": "number",
            "description": "Number of goals team has scored as away team, during a specific league-season.",
            "example": 180
          },
          "received": {
            "type": "number",
            "description": "Number of goals team has received as away team, during a specific league-season.",
            "example": 142
          }
        },
        "required": [
          "scored",
          "received"
        ]
      },
      "HockeyTeamAwayStatsResponseDto": {
        "type": "object",
        "properties": {
          "games": {
            "description": "Game related statistics team has played as away team, during a specific league-season.",
            "allOf": [
              {
                "$ref": "#/components/schemas/HockeyTeamAwayGameStatsResponseDto"
              }
            ]
          },
          "goals": {
            "description": "Number of goals team has scored and received as away team, during a specific league-season.",
            "allOf": [
              {
                "$ref": "#/components/schemas/HockeyTeamAwayGoalsStatsResponseDto"
              }
            ]
          }
        },
        "required": [
          "games",
          "goals"
        ]
      },
      "HockeyTeamStatisticsResponseDto": {
        "type": "object",
        "properties": {
          "total": {
            "description": "Total game and points statistics corresponding to specific league-season.",
            "allOf": [
              {
                "$ref": "#/components/schemas/HockeyTeamTotalStatsResponseDto"
              }
            ]
          },
          "home": {
            "description": "Game and point statistics corresponding to specific league-season, where the team has played as a home team.",
            "allOf": [
              {
                "$ref": "#/components/schemas/HockeyTeamHomeStatsResponseDto"
              }
            ]
          },
          "away": {
            "description": "Game and point statistics corresponding to specific league-season, where the team has played as an away team.",
            "allOf": [
              {
                "$ref": "#/components/schemas/HockeyTeamAwayStatsResponseDto"
              }
            ]
          },
          "leagueId": {
            "type": "number",
            "example": 49291,
            "description": "League id to which team statistics are associated."
          },
          "leagueName": {
            "type": "string",
            "example": "NHL",
            "description": "League name to which team statistics are associated."
          },
          "season": {
            "type": "number",
            "example": 2023,
            "description": "Season year to which team statistics are associated."
          }
        },
        "required": [
          "total",
          "home",
          "away",
          "leagueId",
          "leagueName",
          "season"
        ]
      },
      "HockeyBookmakerResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "Stake.com"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "HockeyBookmakersPaginatedResponseDto": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HockeyBookmakerResponseDto"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationResponseDto"
          },
          "plan": {
            "$ref": "#/components/schemas/PlanResponseDto"
          }
        },
        "required": [
          "data",
          "pagination",
          "plan"
        ]
      },
      "HockeyMarketSelectionResponseDto": {
        "type": "object",
        "properties": {
          "odd": {
            "type": "number",
            "example": 2.2
          },
          "value": {
            "type": "string",
            "example": "Home"
          }
        },
        "required": [
          "odd",
          "value"
        ]
      },
      "HockeyMarketResponseDto": {
        "type": "object",
        "properties": {
          "bookmakerId": {
            "type": "number",
            "example": 19
          },
          "bookmakerName": {
            "type": "string",
            "example": "1Bet"
          },
          "type": {
            "type": "string",
            "example": "prematch"
          },
          "market": {
            "type": "string",
            "example": "3-Way Moneyline"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HockeyMarketSelectionResponseDto"
            }
          }
        },
        "required": [
          "bookmakerId",
          "type",
          "market",
          "values"
        ]
      },
      "HockeyOddsResponseDto": {
        "type": "object",
        "properties": {
          "matchId": {
            "type": "number",
            "example": 295119925
          },
          "odds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HockeyMarketResponseDto"
            }
          }
        },
        "required": [
          "matchId",
          "odds"
        ]
      },
      "HockeyOddsPaginatedResponseDto": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HockeyOddsResponseDto"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationResponseDto"
          },
          "plan": {
            "$ref": "#/components/schemas/PlanResponseDto"
          }
        },
        "required": [
          "data",
          "pagination",
          "plan"
        ]
      },
      "HockeyStandingsTeamDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "example": 1330897
          },
          "logo": {
            "type": "string",
            "example": "https://example.com/logos/team/1330897.png"
          },
          "name": {
            "type": "string",
            "example": "Finland U20"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "HockeyStandingsDto": {
        "type": "object",
        "properties": {
          "team": {
            "$ref": "#/components/schemas/HockeyStandingsTeamDto"
          },
          "position": {
            "type": "number",
            "example": 1
          },
          "wins": {
            "type": "number",
            "example": 3
          },
          "gamesPlayed": {
            "type": "number",
            "example": 3
          },
          "loses": {
            "type": "number",
            "example": 0
          },
          "scoredGoals": {
            "type": "number",
            "example": 11
          },
          "winsOvertime": {
            "type": "number",
            "example": 0
          },
          "losesOvertime": {
            "type": "number",
            "example": 0
          },
          "receivedGoals": {
            "type": "number",
            "example": 2
          }
        },
        "required": [
          "team",
          "position",
          "wins",
          "gamesPlayed",
          "loses",
          "scoredGoals",
          "winsOvertime",
          "losesOvertime",
          "receivedGoals"
        ]
      },
      "HockeyStandingsGroupsResponseDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Group A"
          },
          "standings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HockeyStandingsDto"
            }
          }
        },
        "required": [
          "name",
          "standings"
        ]
      },
      "HockeyStandingsLeagueResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "example": 130987
          },
          "logo": {
            "type": "string",
            "example": "https://example.com/logos/league/130987.png"
          },
          "name": {
            "type": "string",
            "example": "WCH U20"
          },
          "season": {
            "type": "number",
            "example": 2022
          }
        },
        "required": [
          "id",
          "name",
          "season"
        ]
      },
      "HockeyStandingsResponseDto": {
        "type": "object",
        "properties": {
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HockeyStandingsGroupsResponseDto"
            }
          },
          "league": {
            "allOf": [
              {
                "$ref": "#/components/schemas/HockeyStandingsLeagueResponseDto"
              }
            ]
          }
        },
        "required": [
          "groups",
          "league"
        ]
      }
    }
  }
}